<div class="list">
	<div class="add">
		<a href="" ng-click="addTodo()">+ Add New Task</a>
	</div>
	<div class="item" ng-class="{'editing-item' : editing,
		'edited' : todo.edited}" ng-repeat="todo in todos">
		<input type="checkbox" ng-model="todo.complete"/>
		<label ng-click="editing=true;" ng-hide="editing"  ng-click='helloWorld()'>{{todo.name}}</label>
		<input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing"  ng-model="todo.name" 	class="editing-label"   type="text"/>
		<div class="actions">
			<a href="" ng-click=" editing = !editing">edit</a>
			<a href="" ng-click='saveTodo(todo)()'>save</a>
			<a href="" ng-click="deleteTodo(todo, $index)" class='delete'>delete</a>
		</div>
	</div>
</div>